.header{
    padding-top: 24px;
    padding-bottom: 40px;
    background: var(--white);
}

.header__title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 64px;
    color: var(--black);
    margin: 0;
}

.header__logo{
    padding-left: 5px;
    width: 110px;
    height: 32px;
}

.header__logo-image{
    width: 100%;
    height: 100%;
}
