body {
    font-family: Arial;
}

header {
    width: 100%;
    background-color: antiquewhite;
    padding: 20px 0;
    margin: 0;
}

header, footer, main {
    text-align: center;
}

header nav a{
    padding: 10px;
    margin: 10px;
    background-color: burlywood;
}

header nav a:hover{
    background-color: coral;
    cursor: pointer;
    font-weight:bold;
}

main {
    background-color: darkgoldenrod;
    padding: 30px 0;
}

main article{
    padding: 20px 0;
}

main .article1{
    background-color: darkkhaki;
}

main .article2{
    background-color: khaki;
}

main article h2{
    margin: 0;
    padding: 0;
}

main article ul, main article ol{
    text-align: left;
}

footer {
    font-size: 24px;
    background-color: darkolivegreen;
    padding: 20px 0;
    color: #fff;
}