@import '../fonts/fonts.css';
@import '/assets/css/normalize.css';
@import '/components/header/header.css';
@import '/components/footer/footer.css';
@import '/components/container/container.css';
@import '/components/preview/preview.css';
@import '/components/page/page.css';
@import '/components/button/button.css';
@import '/components/card/card.css';
@import '/components/menu/menu.css';
@import '/components/element/element.css';
@import '/components/histogram/histogram.css';
@import '/components/tooltip/tooltip.css';
@import '/components/calendar/calendar.css';
@import '/components/avatar/avatar.css';
@import '/components/formElements/checkbox.css';
@import '/components/formElements/radio.css';
@import '/components/modal/modal.css';

:root {
    --white: #ffffff;
    --white-2: #F9FAFC;
    --black: #212429;
    --black-0: #000000;
    --pink: #F784AD;
    --purple: #7048E8;
    --blue-light: #90A0B7;
    --blue: #374FC7;
    --blue-1: #334D6E;
    --blue-2: #4263EB;
    --red: #F03D3E;
    --red-2: #D84910;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;

    --error: var(--red);
    --success: var(--blue);

    --primary: var(--blue);
    --secondary: var(--purple);
}

* {
}
