.menu{
    width: 229px;
}

.menu__item{
    padding: 2px 0;
}

.menu__link{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: var(--black);
    text-decoration: none;
}

.menu__link:hover, .menu__link_active{
    color: var(--red-2);
}

.menu__title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: var(--black-0);
    padding-bottom: 16px;
}

.menu__item_previous{
    padding-top: 28px;
}
