.histogram{
    padding: 16px 24px 24px 24px;
    background: var(--white);
    border: 1px solid var(--grey-3);
    border-radius: 8px;
}

.histogram__main{
    padding: 6px 0 0 0;
    margin: 0;
}

.histogram__titles{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.histogram__title, .histogram__count{
    color: var(--black);
}

.histogram__title{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.histogram__count{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
}

.histogram__detail{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--blue);

}

.histogram__link{
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

.histogram__items{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 1px;
    height: 50px;
}

.histogram__item{
    background: var(--blue);
    flex-basis: 9px;
    flex-grow: 1;
}

.histogram_preview{
    width: 100%;
    box-sizing: border-box;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

@media (min-width: 400px) {
    .histogram__items{
        margin: 39px 0 0 0;
    }
}
